@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
@include scrollbars(.5em, slategray);
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:800|Roboto|Pangolin');

$Mont: 'Montserrat Alternates';
$Roboto: 'Roboto';
$Pangolin: 'Pangolin';
$yellow: #fffb00f0;
$blue: #37627B;

html {
  height: 100%;
}

body {
  background-color: #dbe7ff;
  min-height: 100%;
  overflow:auto;
}

h1, h2 {
  font-family: $Mont ;
  text-align: center;
  color: white;
}

h3, h4, h5 {
  font-family: $Mont;
  text-align: center;
  color: black;
}

h6 {
  font-family: $Pangolin;
  text-align: center;
  color: black;
}

h1 {
  padding: 12px;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: $Mont;
  color: white;
}

a:hover {
  text-decoration: none;
  color: $blue;
}


.page-footer {
  background: black;
  width: 100%;
  bottom: 0;
  position: fixed;
}
.container-fluid {
  padding: 0;
}

header {
   margin: 0;
   padding: 0;
   background: black;
}

.social {
  text-align: center;
}

.content {
  height: calc(100vh - 112px - 130px);
  overflow: scroll;
}

.blog {
  width: 100%;
  height: calc(100vh - 112px - 130px);
  float: left;
  text-align: center;
}

.foot-pad {
  padding-top: 30px;
  padding-bottom: 15px;
}

.photoblock {
  height: auto;
  background-size: cover;
}

.contactme {
  min-height: calc( 100vh - 112px - 130px);
  text-align: center;
  width: 50%;
  margin: auto;
  .in-article {
    font-family: $Pangolin;
    color: $blue;
    -webkit-text-stroke: 1px black;
  }
  .contact-form {
    border: 1px solid black;
  }
  .send-button {
    background-color: $blue;
    border: none;
  }
}

.center {
  margin: auto;
  text-align: center;
}

.bio {
  width: 100%;
  background-color: white;
  padding: 30px;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc( 100vh - 112px - 130px);
  background-image: url("../img/photo/littleMaslikhin.jpg");
  background-size: cover;
    .hello {
      h1 {
        font-size: 62px;
        font-family: $Pangolin;
        color: white;
        -webkit-text-stroke: 1px black;
      }
      text-align: center;
    }
}