@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:800|Roboto');

$Mont: 'Montserrat Alternates';
$Roboto: 'Roboto';
$yellow: #F4AB2C;
$blue: #37627B;

html {
  height: 100%;
}

body {
  background-image: url(../img/mainbg.jpg);
  min-height: 100%;
  overflow:auto;
}

h1, h2 {
  font-family: $Mont ;
  text-align: center;
  color: white;
}

h3, h4, h5, h6 {
  font-family: $Mont;
  text-align: center;
  color: black;
}

h1 {
  padding: 12px;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: $Mont;
  color: white;
}

a:hover {
  text-decoration: none;
  color: $blue;
}

p {
  font-family: $Roboto;
  color: black;
}

.page-footer {
  background: black;
  opacity: 0.8;
  width: 100%;
  bottom: 0;
  position: fixed;
}
.container-fluid {
  padding: 0;
}

header {
   margin: 0;
   padding: 0;
   background: black;
   opacity: 0.8;
}

.social {
  text-align: center;
}

.content {
  height: calc(100vh - 112px - 130px);
  overflow: scroll;
}

.bio {
  width: 100%;
  height: calc(100vh - 112px - 130px);
  background-color: white;
  opacity: 0.8;
  padding: 30px;
  overflow: scroll;
}

.blog {
  width: 100%;
  height: calc(100vh - 112px - 130px);
  float: left;
  text-align: center;
}

.foot-pad {
  padding-top: 30px;
  padding-bottom: 15px;
}